In [ ]:
countries = ['Korea', 'Korea', 'China', 'Korea', 'Japan', 'China']

In [7]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
lb = LabelEncoder()
lb.fit(countries)
lb.transform(countries)

In [ ]:
# 6명 선수의 국적
countries = ['Korea', 'Korea', 'China', 'Korea', 'Japan', 'China']

# LabelEncoder 불러오기
from sklearn.preprocessing import LabelEncoder

# LabelEncoder object 생성
lb = LabelEncoder()
# .fit()을 통해 범주형 데이터 고유값을 학습
lb.fit(countries)
# .transform()을 통해 수치형 데이터로 변환
lb.transform(countries)

In [ ]:
lb.classes_

In [ ]:
semi_finalists = ['China', 'China', 'China', 'Korea']
lb.transform(semi_finalists)

In [ ]:
finalists = ['China', 'United States', 'China', 'Korea']
lb.transform(finalists)

In [ ]:
df = pd.DataFrame(['Korea', 'Japan', float('nan')])
df

In [ ]:
df.fillna('Unknown')

In [ ]:
import numpy as np
import pandas as pd

trn = pd.read_csv('data/train_ver2.csv')
tst = pd.read_csv('data/test_ver2.csv')

In [2]:
import pandas as pd

trn = pd.read_csv('data/train_ver2.csv')
tst = pd.read_csv('data/test_ver2.csv')

def check_unique_vals(trn, tst, col):
    print('col   : ', col)
    print('train : ', set(trn[col]))
    print('test  : ', set(tst[col]))
    print('non-overlap : ', set(trn[col]).symmetric_difference(set(tst[col])))
    
def preprocess(trn, tst, col, replace_nan='unk'):
    # 'unk'로 결측값 대체
    trn[col].fillna(replace_nan, inplace=True)
    tst[col].fillna(replace_nan, inplace=True)

    # LabelEncoder로 수치형 데이터로 변환
    lb = LabelEncoder()
    lb.fit(pd.concat([trn[col],tst[col]]))
    trn[col] = lb.transform(trn[col])
    tst[col] = lb.transform(tst[col])
    return trn, tst

/home1/irteam/.pyenv/versions/3.6.4/envs/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home1/irteam/.pyenv/versions/3.6.4/envs/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
col = 'age'
check_unique_vals(trn, tst, col)

col   :  age
train :  {' 93', ' 90', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, '105', 14, ' 36', 17, 18, 19, 16, 21, ' 41', 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, ' 77', 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, ' 84', ' 14', 46, 47, 48, 51, 50, 52, 54, 55, 49, ' 73', ' 68', ' 25', ' 35', ' 45', ' 52', '  3', '113', 59, 60, 67, 62, 69, 70, '  4', 63, 68, 74, 72, 76, ' 39', 77, 79, 80, 81, ' 47', 82, ' 98', 85, ' 28', 86, 88, 89, 84, 83, 90, 87, 94, 95, 93, 92, 98, 99, '115', ' 29', 97, 102, 20, 96, 104, 103, 106, 105, 110, 111, ' 59', 109, 108, 107, 113, 112, '109', 115, '110', 24, ' 83', 117, 116, 126, '  2', 127, ' 97', '106', ' 88', ' 16', ' 50', ' 51', '103', ' 32', '  7', '  5', 163, 164, '104', ' 92', 33, ' 58', ' 71', ' 15', ' 30', ' 55', '116', ' 69', ' 95', '107', ' 21', '  6', ' 72', ' 10', ' 91', ' 37', ' 22', ' 99', ' 81', ' 82', ' 20', ' 96', 53, ' 13', ' 74', 56, '108', '100', ' 66', 57, ' 12', ' 40', 58, ' 94', ' 62', ' 19', ' 60', 61, 114, '  8', ' 76', ' 26', 64, ' 79', ' 67', '102', ' 38', 65, 66, ' 23', ' 17', ' 80', 71, ' 24', ' 89', 73, ' 48', 75, ' 54', 15, ' 11', ' 53', 78, ' 63', ' 34', ' 87', ' 33', ' 42', ' 56', ' 57', ' 27', '112', ' 70', ' 31', ' 78', ' 61', ' 49', ' 65', ' 86', 91, ' 43', ' 46', ' 85', ' 44', ' 75', ' 64', '  9', '101', '111', ' NA', ' 18', 100, 101}
test  :  {2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 116, 117, 118, 127, 164}
non-overlap :  {' 93', ' 90', '105', ' 36', ' 41', ' 77', ' 14', ' 84', ' 68', ' 25', ' 35', '  3', '113', ' 45', ' 52', '  4', ' 39', ' 47', ' 98', ' 28', '115', ' 29', ' 59', 115, 118, '109', '110', ' 83', 126, '  2', ' 97', '106', ' 88', ' 16', ' 50', ' 51', '103', ' 32', '  7', '  5', 163, '104', ' 92', ' 58', ' 71', ' 15', ' 30', ' 55', '116', ' 69', ' 95', '107', ' 21', '  6', ' 72', ' 10', ' 91', ' 37', ' 22', ' 99', ' 81', ' 82', ' 20', ' 96', ' 13', ' 74', '108', '100', ' 66', ' 12', ' 40', ' 94', ' 62', ' 19', ' 60', '  8', ' 76', ' 26', ' 79', ' 67', '102', ' 38', ' 23', ' 17', ' 80', ' 24', ' 89', ' 48', ' 54', ' 11', ' 53', ' 63', ' 34', ' 87', ' 33', ' 42', ' 56', ' 57', ' 27', '112', ' 70', ' 31', ' 78', ' 61', ' 49', ' 65', ' 86', ' 43', ' 46', ' 85', ' 44', ' 75', ' 64', '  9', '101', '111', ' 73', ' NA', ' 18'}

In [17]:
preprocess(trn, tst, col)
check_unique_vals(trn, tst, col)

col   :  sexo
train :  {0, 1, 2}
test  :  {0, 1, 2}
non-overlap :  set()

In [ ]:
col = 'fecha_dato'
trn[col] = pd.to_datetime(trn[col])

col = 'ind_empleado'
preprocess(trn, tst, col)

col = 'pais_residencia'
preprocess(trn, tst, col)

col = 'sexo'
preprocess(trn, tst, col)

col = 'fecha_alta'
trn[col].fillna('2015-06-30', inplace=True)
trn[col] = pd.to_datetime(trn[col])
tst[col] = pd.to_datetime(tst[col])