In [ ]:
countries = ['Korea', 'Korea', 'China', 'Korea', 'Japan', 'China']

In [1]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
lb = LabelEncoder()
lb.fit(countries)
lb.transform(countries)

In [ ]:
# 6명 선수의 국적
countries = ['Korea', 'Korea', 'China', 'Korea', 'Japan', 'China']

# LabelEncoder 불러오기
from sklearn.preprocessing import LabelEncoder

# LabelEncoder object 생성
lb = LabelEncoder()
# .fit()을 통해 범주형 데이터 고유값을 학습
lb.fit(countries)
# .transform()을 통해 수치형 데이터로 변환
lb.transform(countries)

In [ ]:
lb.classes_

In [ ]:
semi_finalists = ['China', 'China', 'China', 'Korea']
lb.transform(semi_finalists)

In [ ]:
finalists = ['China', 'United States', 'China', 'Korea']
lb.transform(finalists)

In [12]:
df = pd.DataFrame(['Korea', 'Japan', float('nan')])
df

       0
0  Korea
1  Japan
2    NaN

In [11]:
df.fillna('Unknown')

         0
0    Korea
1    Japan
2  Unknown

In [2]:
import numpy as np
import pandas as pd

trn = pd.read_csv('data/train_ver2.csv')
tst = pd.read_csv('data/test_ver2.csv')

/home1/irteam/.pyenv/versions/3.6.4/envs/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home1/irteam/.pyenv/versions/3.6.4/envs/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
import pandas as pd

trn = pd.read_csv('data/train_ver2.csv')
tst = pd.read_csv('data/test_ver2.csv')

def check_unique_vals(trn, tst, col):
    print('col   : ', col)
    print('train : ', set(trn[col]))
    print('test  : ', set(tst[col]))

In [ ]:
col = 'fecha_dato'
trn[col] = pd.to_datetime(trn[col])

In [14]:
col = 'fecha_dato'
check_unique_vals(trn, tst, col)

col   :  fecha_dato
train :  {'2016-01-28', '2015-09-28', '2015-07-28', '2015-01-28', '2016-03-28', '2016-04-28', '2015-12-28', '2015-10-28', '2016-02-28', '2016-05-28', '2015-08-28', '2015-04-28', '2015-06-28', '2015-05-28', '2015-11-28', '2015-02-28', '2015-03-28'}
test  :  {'2016-06-28'}

In [15]:
col = 'ind_empleado'
check_unique_vals(trn, tst, col)

col   :  ind_empleado
train :  {'N', nan, 'F', 'A', 'S', 'B'}
test  :  {'N', 'F', 'A', 'S', 'B'}