## ch 1-6
- melt to sinlge in ML fit
- train / dev / test split
- ml fit
- evaluate
    - linear, tree, ensemble
    - train / dev / test score
- review + improvements
- kweonwooj's submission
- review + improvements

## ch 1-7 승자의 지혜
- winner's code #1
- winner's code #2

In [1]:
import pandas as pd
import numpy as np

trn = pd.read_csv('data/train_preprocess.csv')

In [2]:
trn.shape

(13647309, 23)

In [3]:
trn.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,indresi,indext,conyuemp,canal_entrada,indfall,cod_prov,nomprov,ind_actividad_cliente,renta,segmento
0,2015-01-28,1375586,3,36,0,35,2015-01-12,0,6,1,...,1,0,2,153,0,29,31,1,87218,1
1,2015-01-28,1050611,3,36,1,23,2012-08-10,0,35,1,...,1,1,2,150,0,13,16,0,35548,2
2,2015-01-28,1050612,3,36,1,23,2012-08-10,0,35,1,...,1,0,2,150,0,13,16,0,122179,2
3,2015-01-28,1050613,3,36,0,22,2012-08-10,0,35,1,...,1,0,2,149,0,50,51,0,119775,2
4,2015-01-28,1050614,3,36,1,23,2012-08-10,0,35,1,...,1,0,2,150,0,50,51,1,0,2

In [4]:
ncodpers = np.unique(trn['ncodpers'])

In [5]:
ncodpers.shape

(956645,)

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
users_trn, users_dev = train_test_split(ncodpers, test_size = 0.2)

In [8]:
print(users_trn.shape, users_dev.shape)

(765316,) (191329,)

In [16]:
trn_idx = trn['ncodpers'].isin(users_trn)
dev_idx = trn['ncodpers'].isin(users_dev)

In [18]:
x_trn = trn[trn_idx]
x_dev = trn[dev_idx]

In [19]:
print(x_trn.shape, x_dev.shape)

(10915210, 23) (2732099, 23)